/*$color_one: green;
$color_two: red;*/

body {
    padding: 60px 0px;

    .welcome {
        color: #fff;
    }
    
    footer .name {
        border-right: 1px solid #ccc;
        text-align: centered;
    }
}